!!! 5
%html{ lang: "en" }
  %head
    %title Chanelify!
    %meta{ charset: "utf-8" }
    %link{ rel: "stylesheet", type: "text/css", href: "css" }

  %body
    %h1 Chanelify!
    %p If you're here, you probably already know what it does.
      
    %p
      You may also be interested in 
      %a{ href: "http://lutzify.heroku.com" } Lutzify!
    
    %p Drag this bookmarklet to your bookmarks bar:

    - script = "javascript: (function () { " +              |
        "var jsCode = document.createElement('script'); " + |
        "jsCode.setAttribute('src', '#{@host}/js'); " +     |
        "document.body.appendChild(jsCode); " +             |
        "lutz( document.images )}());"                      |
    
    %a{ href: script } Chanelify!

    %img{ id: "tv", src: "/tv.png", alt: "Chanelify: As Seen on TV!" }
    %img{ id: "size", src: "/size.png", alt: "Chanelify: Actual Size!" }
