!!! 5
%html{ lang: "en" }
  %head
    %title Lutzify!
    %meta{ charset: "utf-8" }
    %link{ rel: "stylesheet", type: "text/css", href: "css" }

  %body
    %h1 Lutzify!
    %p If you're here, you probably already know what it does.

    %p Drag this bookmarklet to your bookmarks bar:

    - script = "javascript: (function () { " +              |
        "var jsCode = document.createElement('script'); " + |
        "jsCode.setAttribute('src', '#{@host}/js'); " +     |
        "document.body.appendChild(jsCode); " +             |
        "lutz( document.images )}());"                      |
    
    %a{ href: script } Lutzify!
